table{
  width: 80%;
  padding-top: 100px;
}

table th, table td{
  padding: 20px;
  text-align: center;
}

table th{
  cursor: pointer;
  
}

table th:hover {
  background: rgb(102, 102, 102);
  border-radius: 5px;
  color: #fff;

}